body{
background-color:#EED3F7;
}
.background{
background-color:#EED3F7;
}
.flex-row{
display: flex;

.list {
flex-direction: column-reverse;

}
.trueCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    } 