
.background{
background-color:#EED3F7;
}
.flex-row{
display: flex;
flex-direction: row;
justify-content: space-between;
word-wrap: normal;

}

.list {
flex-direction: column-reverse;

}
.trueCenter{
    align-content: center;
    } 